
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Margarine' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>SIGN UP FORM</title>
</head>
<body>

<body>
<center>
    <div class="register">
        <img src="/public/img/exoplanet.jpg" alt="EXOPLANET" class="side-pic-register">
        <div class="register-form">
            <br><br><br>
            <img src="/public/img/saranghaja.png" alt="saranghaja">
            <form class="form"  action="/register" method="POST" style="margin:auto">
                <!-- First Name -->
                <br>
                <div class="input-container">
                    <i class="fa fa-user-circle icon"></i>  
                    <input class="input-field" name="firstname" type="text" placeholder="First Name" autocomplete="off"><br>
                </div>  
                <!-- Last Name -->
                <div class="input-container">
                    <i class="fa fa-user-circle icon"></i>  
                    <input class="input-field" name="lastname" type="text" placeholder="Last Name" autocomplete="off"><br>
                </div>  
                <!-- Address -->
                <div class="input-container">
                    <i class="fa fa-address-book icon"></i>  
                    <input class="input-field" name="address" type="text" placeholder="Address" autocomplete="off"><br>
                </div> 
                <!-- Email Address -->
                <div class="input-container">
                    <i class="fa fa-envelope icon"></i>
                    <input class="input-field" name="email" type="email" placeholder="Email Address" autocomplete="off"><br>
                </div> 
                <!-- Password -->
                <div class="input-container">
                    <i class="fa fa-key icon"></i>
                    <input class="input-field" id="password" name="password" type="password" placeholder="Password" autocomplete="off"><br>
                </div> 
                <input type="submit" value="SIGN UP" name="Register"><br><br>
                <p class="msg">Already have an account?<a href="/login"><br>Log In</a></p><br><br><br>
            </form>
        </div>
    </div>
</center>
</body>
</html>
